<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Laracon Online</title>
    <link
            href="https://unpkg.com/tailwindcss@^1.7/dist/tailwind.min.css"
            rel="stylesheet"
    />
</head>
<body
        class="min-h-screen"
        style="background-image: linear-gradient(-135deg, #f4e6cc 0%, #f7dbb2 100%);"
>
<noscript>
    <strong
    >Sorry but this site wont work without JavaScript enabled. Please enable
        it to continue.</strong
    >
</noscript>

<div id="app">
    <header class="p-8 text-center">
        <laracon-online-logo></laracon-online-logo>
        <p
                class="inline-block px-8 py-4 my-4 font-mono font-bold text-white uppercase bg-red-600 rounded-full"
        >
            {{ now }}
        </p>
    </header>

    <schedule class="max-w-3xl mx-auto overflow-hidden shadow-2xl sm:rounded" :current-time="currentTime"></schedule>

    <footer class="p-8 text-xs text-center text-red-700">
        <p>Swiftly codded by
            <a href="https://twitter.com/richstandbrook" class="font-bold"
            >richstandbrook</a
            ></p>
        <p>Design always inspired by <a href="https://laracon.net" class="font-bold">laracon.net</a></p>
    </footer>
</div>

<script src="js/app.js"></script>
</body>
</html>
