<template>
  <main class="bg-white">
    <talk
      v-for="event in schedual"
      :key="event.id"
      :event="event"
      :currentTime="currentTime"
    ></talk>
  </main>
</template>

<script>
import { map } from "lodash";
import moment from "moment-timezone";
import Talk from "./Talk";

export default {
  components: {
    Talk
  },

  props: {
    currentTime: {
      required: true
    }
  },

  data: () => ({
    day: "August 26, 2020",
    timezone: "EDT",
    events: [
      {
        name: "Welcome",
        from: "9:50",
        to: "10:00"
      },
      {
        name: "Freek Van der Herten",
        description: "A practical look at multitenancy in Laravel",
        from: "10:00",
        to: "10:30"
      },
      {
        name: "Jenny Shen",
        description: "Build bridges, not walls — design for users across cultures",
        from: "10:30",
        to: "11:00"
      },
      {
        name: "Jonathan Reinink",
        description: "Building modern monoliths with Inertia.js",
        from: "11:00",
        to: "11:30"
      },
      {
        name: "Jeffrey Way",
        description: "Bad is good",
        from: "11:30",
        to: "12:00"
      },
      {
        name: "Break",
        break: true,
        from: "12:00",
        to: "12:15"
      },
      {
        name: "Taylor Otwell",
        description: "Exploring Laravel 8 x",
        from: "12:15",
        to: "13:15"
      },
      {
        name: "Prosper Otemuyiwa",
        description: "Supercharging Laravel apps with machine learning",
        from: "13:15",
        to: "13:45"
      },
      {
        name: "Colin Decarlo",
        description: "The importance of practice",
        from: "13:45",
        to: "14:15"
      },
      {
        name: "Break",
        break: true,
        from: "14:15",
        to: "14:30"
      },
      {
        name: "Matt Stauffer",
        description: "Don't cry when your dev dependencies die",
        from: "14:30",
        to: "15:00"
      },
      {
        name: "Marcel Pociot",
        description: "Refactoring to simplicity",
        from: "15:00",
        to: "15:30"
      },
      {
        name: "Adam Wathan",
        description: "Building a component library with Tailwind CSS",
        from: "15:30",
        to: "16:00"
      },
      {
        name: "Jessica Archer",
        description: "The Laravel developer's guide to Vue SPAs - Part 2",
        from: "16:00",
        to: "16:30"
      },
      {
        name: "Break",
        break: true,
        from: "16:30",
        to: "16:45"
      },
      {
        name: "April Dunford",
        description: "Power Positioning - How to harness a marketing superpower",
        from: "16:45",
        to: "17:15"
      },
      {
        name: "Caleb Porzio",
        description: "All the cool new things in Livewire & Alpine",
        from: "17:15",
        to: "17:45"
      },
      {
        name: "Tim Macdonald",
        description: "Follow the Eloquent road",
        from: "17:45",
        to: "18:15"
      },
      {
        name: "Jack Ellis",
        description: "How we scaled Fathom Analytics to handle billions of requests",
        from: "18:15",
        to: "18:45"
      },
      {
        name: "Closing Remarks",
        from: "18:45",
        to: "19:00"
      }
    ]
  }),

  computed: {
    schedual() {
      return map(this.events, (event, id) => {
        return {
          id: id,
          from: moment.parseZone(`${this.day} ${event.from} ${this.timezone}`),
          to: moment.parseZone(`${this.day} ${event.to} ${this.timezone}`),
          name: event.name,
          description: event.description || null,
          break: event.break || false
        };
      });
    }
  },

  created() {
    this.events.forEach(event => {
      if (this.currentTime.isBetween(event.from, event.to)) {
        this.$nextTick(() => {
          this.$refs[event.name][0].scrollIntoView({
            behavior: "smooth",
            block: "nearest",
            inline: "nearest"
          });
        });
      }
    });
  }
};
</script>
