<template>
  <article
      :ref="event.name"
      class="py-4 flex items-center border-b"
      :class="{
      'bg-teal-600 text-white': event.break,
      'bg-red-600 text-red-100': currentTime.isBetween(
        event.from,
        event.to
      ),
      'text-yellow-500':
        event.break && currentTime.isBetween(event.from, event.to),
      'opacity-50': event.to.isBefore(currentTime)
    }"
  >
    <time
        class="flex-shrink-0 text-xl font-bold px-4 text-right w-32"
        :class="{
        'text-blue-900': !event.break && !currentTime.isBetween(
          event.from,
          event.to
        )
      }"
    >
      {{ event.from.format("h:mm") }}
      <span class="text-lg font-normal">{{ event.from.format("A") }}</span>
    </time>
    <section>
      <h2 class="font-semibold">{{ event.name }}</h2>
      <p v-if="event.description" class="opacity-75">{{ event.description }}</p>
    </section>
  </article>
</template>

<script>
export default {
  props: {
    event: {
      required: true
    },
    currentTime: {
      required: true
    }
  }
};
</script>
